body {
  font-family: arial, calibri;
}

table.stats-table {
  width: 37em;
}

.stats-table td {
    padding: 10px 10px 0px 10px;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
}

td.stat-bar {
  width: 60%;
}

.blue-link {
  font-size: 0.75em;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
